
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Navbar</a>
  
  <div class="navbar-nav" style="display: flex; flex-direction: row; gap: 15px;">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/product-list">Product List</a>
    <a class="nav-item nav-link" routerLink="/about">About</a>
    <a class="nav-item nav-link" routerLink="/active-forms">Forms</a>
    <a class="nav-item nav-link" routerLink="/template-form">Forms temp</a>
  </div>
</nav>